
html {
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #F8FCFF;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333333;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  margin: 0 auto;
  width: 65%;
  max-width: 1100px;
}

.wide-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
}

.logo {
  font-size: 0;
  line-height: 0;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 45px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0 20px;
}

.nav-item {
  padding: 7px 0;
}

.nav-item a {
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  transition: color 0.1s;
}

.nav-item:hover a,
.nav-item--active a {
  color: #F25822;
}

.main-block {
  padding-top: 134px;
  background: url('../img/header-bg.png') no-repeat center;
  background-size: 50%;
  background-position: 100% 50%;  
}

.main-heading {
  margin-top: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;

}

.main-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #888888;
  margin-top: 23px;
}

.main-link {
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 103px;
  padding: 12px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background-color: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  transition: background-color 0.2s;
}

.main-link:hover {
  color: #FFFFFF;
  background-color: #f36b39;
}

section.about {
  background: url('../img/line.png') no-repeat center;
  background-color: #FAFAFA;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}

.section-title {
  padding-top: 54px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;

  color: #000000;
}

.about-txt {
  margin-top: 6px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-indent: 30px;
  
  color: #666666;
}

.section-par {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}

.services {
  padding-bottom: 56px;
}

.services .section-title {
  margin-bottom: 74px;
}

.service-cont {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.service-itm {
  max-width: 400px;
  min-width: 300px;
  padding: 40px 30px;
  flex-basis: 30%;
  flex-grow: 1;
  /* margin: 10px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: border-box;
  border-radius: 6px;

  transition: all 0.3s;
}

/* .service-itm--active */
.service-itm:hover {
  background: #FFFFFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.service-icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(242, 88, 34, 0.25);
  border-radius: 15px;
}

.service-icon img {
  max-height: 25px;
}

.serv-title {
  margin-top: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.serv-descr {
  margin-top: 17px;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #010101;
  flex-grow: 0;
  margin: 16px 0;
  padding-left: 40px;
}

.list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 32px;
  height: 32px;
  background: url('../img/list-marker.svg') no-repeat center;
  background-size: 12px 8px;
} 

.why-we {
  background-color: #FAFAFA;
  padding-bottom: 80px;
}

.why-we .service-cont {
  margin-top: 56px;
}

.why-we .service-itm {
  align-items: center;
  background-color: #fff;
}
.why-we .serv-title { 
  text-align: center;
}

.why-we .serv-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333333;
}

.benefit {
  background: url('../img/benefit.jpg') no-repeat center;
  background-color: #fff;
  background-size: 50%;
  background-position: left;  
}

.benefit-content {
  position: relative;
  right: 0;
  padding: 100px 0;
  margin-left: auto;
  width: 600px;
  max-width: 100%;
}

.benefit .section-title {
  padding-top: 0;
}

.benefit .list-item {
  margin: 10px 0;
}

footer {
  background-color: #F3F3F3;
  padding: 21px 0 27px;
}

footer .logo {
  display: inline-block;
  max-width: 100%;
  width: 386px;
}

footer .logo img {
  width: 100%;
}

.footer-desc {
  font-weight: bold;
  font-size: 36px;
  line-height: 141%;
  margin-top: 50px;
  color: #000000;
}

.footer-info {
  color: #666666;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin: 30px 0;
}

.footer-info a:hover {
  color: #333333;
  text-decoration: underline;
}

.info-name {
  color: #333333;
}

.copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 230%;
  color: #888888;
  padding: 13px 0;
  margin-top: 54px;
  border-top: 1px solid #CCCCCC;
  text-align: center;
}

.open-mob-nav {
	position: relative;
	display: none;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
  align-self: center;
  transform: translateY(10px);
}
.open-mob-nav:focus {
	outline: none;
}
.mob-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.mob-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.mob-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #f67b50;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

.mob-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.mob-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.mob-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.mob-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.mob-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
/* Decoration */
.mob-nav ul,
.mob-nav li {
	list-style: none;
	padding: 0;
}
.mob-nav a {
	display: block;
	padding: 12px 0;
	color: #000000;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 500;
}


.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 2px;
	margin: 0 auto;
	background: #000000;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #000000;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-10.5px) translateX(-6px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open.burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open.burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open.burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

@media screen and (max-width: 1400px) {
  .page-header .container {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .benefit {
    background: none;
  }

  .benefit-content {
    margin: 0 auto;
    padding: 10px 0 30px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 75%;
  }

  .logo {
    width: 220px;
  }

  .nav-list {
    gap: 0 15px;
  }

  .nav-item a {
    font-size: 14px;
    line-height: 20px;
  }
  
  .main-block {
    padding-top: 70px;
  }

  .main-block {
    background-size: 70%;
    background-position: 200% 50%;
  }

  section.about {
    padding-bottom: 20px;
  }

  .services .section-title {
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .service-itm {
    align-items: center;
  }

  .serv-descr {
    text-align: center;
  }

  .services,
  .why-we {
    padding-bottom: 0;
  }

  .section-title {
    padding-top: 10px;
  }

  .benefit-content {
    padding: 30px 0;
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  
  .open-mob-nav {
    display: block;
  }

  .main-nav {
    display: none;
  }
  
  .main-block {
    background-position: 200% 85%;
  }
  
  .main-heading {
    font-size: 34px;
    line-height: 43px;
  }

  .section-title {
    padding-top: 15px;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 5px;
  }

  .about-txt {
    font-size: 14px;
    line-height: 143%;
  }

  .service-itm {
    padding: 10px 15px;
  }
  
  .serv-title {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .serv-descr {
    margin-top: 10px;
    font-size: 16px;
  }

  .list-item {
    font-size: 14px;
    line-height: 23px;
    margin: 8px 0;
  }

  .list-item::before {
    width: 22px;
    height: 22px;
  }

  .section-par,
  .why-we .serv-descr {
    font-size: 14px;
    margin-bottom: 5px;  
  }

  .footer-desc {
    font-size: 14px;
    margin-top: 24px;
  }

  .footer-info {
    font-size: 11px;
    margin: 14px 0;
  }

  .copyright {
    font-size: 12px;
    line-height: 170%;
    padding: 13px 0;
    margin-top: 25px;
    margin-bottom: 0;
  }
}